<aside class="header">

    <div class="header-profile">

        <label class="titulo-de-interfaz-sena-aseo-izquierda"><strong>SENA</strong> </label> 
        <label class="titulo-de-interfaz-sena-aseo-derecha"><strong>ASEO</strong></label>
    </div>    
        
        
        
        <div class="loginho">
        <img
            src="/assets/img/Logo del sena para interfaz de aprendiz.png"
            alt="logo del SENA"
            class = "imagen-de-logo"
            id="logo-photo"
        >
        </div>
</aside>