<aside class="sidebar">

    <div class="sidebar-profile">

        <img
            src="/Imagenes/Icono de usuaruio interfaz aprendiz.png"
            alt="Foto de perfil del usuario"
            class="profile-image"
            id="user-photo"
        >

        <h2 class="welcome-title">
            Bienvenido,
            <span id="user-name" class="user-name"></span>
        </h2>

        <p id="user-id" class="user-id"></p>

    </div>

    <nav class="sidebar-menu">

    <a href="mis-turnos.html"
       class="menu-button"
       data-page="mis-turnos.html">

        Mis turnos

    </a>

    <a href="mi-perfil.html"
       class="menu-button"
       data-page="mi-perfil.html">

        Mi perfil

    </a>

    <a href="informacion-ficha.html"
       class="menu-button"
       data-page="informacion-ficha.html">

        Info. ficha

    </a>

</nav>

    <button class="report-error-button">

        ¿Encontraste algun error?

    </button>

</aside>