<aside class="sidebar">

    <div class="sidebar-profile">
        
        <div class="sidebar-header">
            <button 
                id="sidebar-toggle"
                class="sidebar-toggle">

                <i class="fa-solid fa-bars"></i>
        
            </button>
            <button
                id="sidebar-inbox"
                class="sidebar-inbox">

                <i class="fa-solid fa-inbox"></i>
                
            </button>
        </div>
        
        <img
            src="/assets/img/Icono de usuaruio interfaz aprendiz.png"
            alt="Foto de perfil del usuario"
            class="profile-image"
            id="user-photo"
        >

        <h2 class="welcome-title">
            Bienvenido,
            <span id="user-name" class="user-name"></span>
        </h2>

        <p id="user-id" class="user-id"></p>

    </div>

    <nav class="sidebar-menu">

    <a href="/pages/instructor/mis-turnos.html"
       class="menu-button"
       data-page="mis-turnos.html">

        <i class="fa-solid fa-calendar-days menu-icon"></i> <!-- Icono de calendario -->


        <span class="menu-text">
            Mis turnos
        </span>
    </a>

    <a href="/pages/instructor/mi-perfil.html"
       class="menu-button"
       data-page="mi-perfil.html">

       <i class="fa-solid fa-user menu-icon"></i> <!-- Icono de usuario -->
        <span class="menu-text">
            Mi perfil
        </span>

    </a>

    <a href="/pages/instructor/informacion-ficha.html"
       class="menu-button"
       data-page="informacion-ficha.html">

       <i class="fa-solid fa-circle-info menu-icon"></i> <!-- Icono de información -->
        <span class="menu-text">
            Info. ficha
        </span>

    </a>

</nav>

    <button class="report-error-button">

        <i class="fa-solid fa-triangle-exclamation"></i> <!-- Icono de advertencia -->
        <span class="menu-text">
            ¿Encontraste algun error?
        </span>

    </button>

</aside>